<center>
    <h1>Edit User</h1>
    <form method="post" action="/updateUser">
       
        <table border="1">
            <input type="hidden" name="editid" value="<%= single.id %>"
            <tr>
                <td>Name :- </td>
                <td>
                    <input type="text" value="<%= single.name %>" name="username"/>
                </td>
            </tr>
            <tr>
                <td>Phone :- </td>
                <td>
                    <input type="text" value="<%= single.phone %>" name="userphone"/> 
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Edit"/>
                </td>
            </tr>
        </table>
    </form>
    <a href="/">View</a>
</center>