<center>
    <h3>Todo List</h3>
    <table border="1">
        <tr>
            <td>Srno</td>
            <td>Task</td>
            <td>Status</td>
            <td>Action</td>
        </tr>

        <% task.map((val,i)=>{i=i+1 %>
            <tr>
                <td><%= i %></td>
                <td><%= val.task %></td>
                <td><%= val.status %></td>
                <td>
                    <a href="/editTask?id=<%= val.id %>">Edit</a>
                </td>
            </tr>
        <% }) %>

    </table>
</center>