<form method="post" action="/backend/api/categoryInsert">
    <table border="1">
        <tr>
            <td>Category :- </td>
            <td><input type="text" name="category"></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit">
            </td>
        </tr>
    </table>
</form>
<center><a href="/backend/api/category">View</a></center>