<center>
    <table border="1">
        <tr>
            <td>Name</td>
            <td>Price</td>
            <td>Image</td>
            <td>Click</td>
        </tr>

        <% data.map((val)=>{ %>
            <tr>
                <td><%= val.name %></td>
                <td><%= val.minPrice %></td>
                <td>
                    <img src="<%= val.img %>" width="100"/>
                </td>
                <td>
                    <a href="/themedata?id=<%= val.themeId %>">Click</a>
                </td>
            </tr>
        <% }) %>

    </table>
</center>