<center>
    <h1>View User</h1>
    <table border="1">
        <tr>
            <td>Srno</td>
            <td>Name</td>
            <td>Phone</td>
        </tr>
    </table>
    <a href="/add">Add</a>
</center>