<center>
    <h3>Add User</h3>
    <form method="post" action="/addRecord">
        <table border="1">
            <tr>
                <td>Name :- </td>
                <td>
                    <input type="text" name="name">
                </td>
            </tr>
            <tr>
                <td>Phone :- </td>
                <td>
                    <input type="text" name="phone">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit">
                </td>
            </tr>
        </table>
    </form>
</center>