<center>
    <h3>Edit User</h3>
    <form method="post" action="/updateRecord" enctype="multipart/form-data">
        <input type="hidden" value="<%= single.id %>" name="editid">
        <table border="1">
            <tr>
                <td>Name :- </td>
                <td>
                    <input type="text" value="<%= single.name %>" name="name">
                </td>
            </tr>
            <tr>
                <td>Phone :- </td>
                <td>
                    <input type="number"  value="<%= single.phone %>" name="phone">
                </td>
            </tr>
            <tr>
                <td>Images :- </td>
                <td>
                    <input type="file" multiple name="images">
                    <% single.images.map((val)=>{ %>
                        <img src="<%= val %>" width="50"/>
                    <% }) %>
                    
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit">
                </td>
            </tr>
        </table>
    </form>
    <a href="/">View</a>
</center>