<h1>Welcome to otp page</h1>

<form method="post" action="/postOtp">
    <table border="1">
        <tr>
            <td>Otp :- </td>
            <td><input type="otp" name="otp" placeholder="Enter your otp"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit"></td>
        </tr>
    </table>
</form>